:host {
  height: 2em;
  width: 100%;
  padding: 0.2em;
  background-color: rgba(var(--bg-color-1));
  color: rgba(var(--txt-color-1));
  border-bottom: 2px solid rgba(var(--border-color-1));

  display: inline-grid;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  column-gap: 1em;

  place-items: center;

  > * {
    grid-row: 1;
    cursor: pointer;
    height: 100%;
    user-select: none;

    &:hover {
      background-color: rgba(var(--bg-highlight-color-1));
    }
  }
}
